* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body, html, .characternav {
    background: #151515!important;
  justify-content: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

#searchbox {
    display: block;
    flex-grow: 1;
    padding: 0.75em;
    margin: 1.5em 0.7em;
    font-size: 11pt;
  font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: #333333;
    color: #fcfcfc;
  border: 3px solid #555555;
  border-radius: 3px;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

input:focus {
    outline: none;
}

.siteheader {
    background: #00C3FF;
  transform: skew(-0.25rad);
  border-radius: 5px;
    margin: auto;
    text-align: center;
    padding: 0.9em;
  margin-left: 6em;
  margin-right: 6em;
}

.siteheader h1 {
    font-size: 18pt;
    padding: 0 0.2em 0 0;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.heroicon {
    width: 256px;
  height: 256px;
    padding: 0;
    text-align: center;
    margin: 0.33em;
    user-select: none;
  border-radius: 5px;
    background-color: #555555;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  transition: 0.1s;
  z-index: 1;
}

.heroicon:hover {
  background-color: #ffc640;
}

.heroicon a, .heroicon a:visited {
    padding: 0.66em 0em;
    width: 100%;
  height: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 6px #111111;
    font-family: 'Poppins', sans-serif;
    font-size: 22pt;
  position: relative;
}

.heroname {
    background: #111111;
}


.heroNav {
  align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.5em;
}

.class-icon {
  display: flex;
  top: 10px;
  left: 10px;
  position: absolute;
  padding: 4px;
  margin: -10px;
}

.misc-icon {
  display: flex;
  top: 10px;
  left: 10px;
  position: absolute;
  padding: 4px;
  margin: -10px;
}

.overwatch-icon {
height: 3rem;
}

.tank-icon {
height: 3rem;
}

.damage-icon {
 height: 3rem;
}

.support-icon {
height: 3rem;
}

.ana {
    background-image: url(./img/AnaIcon.png);
  position:relative;
}

.ashe {
    background-image: url(./img/AsheIcon.png);
  position: relative;
}

.baptiste {
    background-image: url(./img/BaptisteIcon.png);
  position:relative;
}

.bastion {
    background-image: url(./img/BastionIcon.png);
  position:relative;
}

.brigitte {
    background-image: url(./img/BrigitteIcon.png);
  position:relative;
}

.cassidy {
    background-image: url(./img/CassidyIcon.png);
  position:relative;
}

.dva {
    background-image: url(./img/DVaIcon.png);
  position:relative;
}

.doomfist {
    background-image: url(./img/DoomfistIcon.png);
  position:relative;
}

.echo {
    background-image: url(./img/EchoIcon.png);
  position:relative;
}

.genji {
    background-image: url(./img/GenjiIcon.png);
  position:relative;
}

.hanzo {
    background-image: url(./img/HanzoIcon.png);
  position:relative;
}

.junker-queen {
    background-image: url(./img/JunkerQueenIcon.png);
  position:relative;
}

.junkrat {
    background-image: url(./img/JunkratIcon.png);
  position:relative;
}

.kiriko {
    background-image: url(./img/KirikoIcon.png);
  position:relative;
}

.lucio {
    background-image: url(./img/LucioIcon.png);
  position:relative;
}

.mei {
    background-image: url(./img/MeiIcon.png);
  position:relative;
}

.mercy {
    background-image: url(./img/MercyIcon.png);
  position:relative;
}

.moira {
    background-image: url(./img/MoiraIcon.png);
  position:relative;
}

.orisa {
    background-image: url(./img/OrisaIcon.png);
  position:relative;
}

.pharah {
    background-image: url(./img/PharahIcon.png);
  position:relative;
}

.ramattra {
    background-image: url(./img/RamattraIcon.png);
  position:relative;
}

.reaper {
    background-image: url(./img/ReaperIcon.png);
  position:relative;
}

.reinhardt {
    background-image: url(./img/ReinhardtIcon.png);
  position:relative;
}

.roadhog {
    background-image: url(./img/RoadhogIcon.png);
  position:relative;
}

.sigma {
    background-image: url(./img/SigmaIcon.png);
  position:relative;
}

.sojourn {
    background-image: url(./img/SojournIcon.png);
  position:relative;
}

.soldier-76 {
    background-image: url(./img/Soldier76Icon.png);
  position:relative;
}

.sombra {
    background-image: url(./img/SombraIcon.png);
  position:relative;
}

.symmetra {
    background-image: url(./img/SymmetraIcon.png);
  position:relative;
}

.torbjorn {
    background-image: url(./img/TorbjornIcon.png);
  position:relative;
}

.tracer {
    background-image: url(./img/TracerIcon.png);
  position:relative;
}

.widowmaker {
    background-image: url(./img/WidowmakerIcon.png);
  position:relative;
}

.winston {
    background-image: url(./img/WinstonIcon.png);
  position:relative;
}

.wrecking-ball {
    background-image: url(./img/WreckingBallIcon.png);
  position:relative;
}

.zarya {
    background-image: url(./img/ZaryaIcon.png);
  position:relative;
}

.zenyatta {
    background-image: url(./img/ZenyattaIcon.png);
  position:relative;
}


